In spring 2013, Montana State University's (MSU) library website was being reviewed for its User Experience (UX) performance. While trying to understand usability of different website categories, the committee reviewing the website noticed that among the three main service categories displayed (Find, Request, Interact), the Interact category was not used as expected. The Interact category allowed students access to research assistance, writing assistance, and tech support. 

### Problem

Website analytics for the library website showed users neglecting the Interact category on the website. Specifically, the click-through rate for Interact was only 2%. The click-through rate for a link is defined as the number of visitors of a website divided by the number of clicks on that link.

The library’s web committee met and conceptualized that "Interact" added difficulty and confusion for students. They proposed several other names that may help students find what they are looking for: Connect, Learn, Help, and Services. 

The committee took an additional step to narrow down the scope of the question by asking students about how they thought these variant namings could help. In general, students selected Help and Services, respectively, as the two most expressive names of the underlying services.



### Hypothesis and Proposed Solution

Upon interviewing students, the committee decided to test the new variations. We hypothesize that naming the link Help or Services will increase visitor engagement with the category when measured against the original name, Interact.

In [7]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import re
import seaborn as sns
from scipy import stats
%matplotlib inline

In [2]:
interact_ver = pd.read_csv(r"C:\Users\Mohammad\Documents\Thinkful\13.10 Capstone 2  - narrative analytics and experimentation\CrazyEgg\Homepage Version 1 - Interact, 5-29-2013\interact.csv")
help_ver = pd.read_csv(r"C:\Users\Mohammad\Documents\Thinkful\13.10 Capstone 2  - narrative analytics and experimentation\CrazyEgg\Homepage Version 4 - Help, 5-29-2013\help.csv")
services_ver = pd.read_csv(r"C:\Users\Mohammad\Documents\Thinkful\13.10 Capstone 2  - narrative analytics and experimentation\CrazyEgg\Homepage Version 5 - Services, 5-29-2013\services.csv")
interact_ver.head()

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,128,area,Montana State University - Home,1291,False,Homepage Version 1 - Interact • http://www...
1,69,a,FIND,842,True,created 5-29-2013 • 20 days 4 hours 21 min...
2,61,input,s.q,508,True,NaN
3,67,a,lib.montana.edu/find/,166,True,NaN
4,78,a,REQUEST,151,True,NaN

The Snapshot information column lists total page views for the experiment period. After renaming columns to more convenient titles, we will store total page views for each variation in a dictionary for reference.

In [19]:
# Rename columns
for df in [interact_ver, help_ver, services_ver]:
    df.rename(columns={'Element ID':'id','Tag name':'tag','Name':'name','No. clicks':'clicks','Visible?':'visible', 'Snapshot information':'info'},inplace=True)

# Save total views for each variation in a dictionary
total_views = {}
total_views['interact'] = re.findall(r'\d+ visits',interact_ver['info'][1])[0].split(" ")[0]
total_views['help'] = re.findall(r'\d+ visits',help_ver['info'][1])[0].split(" ")[0]
total_views['services'] = re.findall(r'\d+ visits',services_ver['info'][1])[0].split(" ")[0]

# Remove the last column from each dataframe
for df in [interact_ver, help_ver, services_ver]:
    df.drop(columns=['info'], inplace=True)